.featured {
    height: 90vh;
    position: relative;
    @media (max-width: 480px) {
        min-height: 450px;
        height: 45vh;
    }

    .banner_title {
        font-family: sans;
        font-size: 3rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
        text-shadow: 0.5px 0.5px black;

        @media (max-width: 480px) {
            font-size: 2rem;
            width: 300px;
        }
    }

    .playButton a,
    a:visited,
    a:hover,
    a:active {
        color: inherit;
    }

    .banner_fade_bottom {
        background-image: linear-gradient(
            180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #0b0b0b
        );
        height: 7.4rem;
        position: relative;
        margin-top: -121px;
    }
    .category {
        position: absolute;
        top: 80px;
        left: 50px;
        font-size: 30px;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;

        @media (max-width: 480px) {
            font-size: 20px;
            top: 60px;
            text-shadow: 0.5px 0.5px black;
        }

        select {
            cursor: pointer;
            background-color: var(--main-color);
            border: 1px solid white;
            color: white;
            margin-left: 20px;
            padding: 5px;

            @media (max-width: 480px) {
                font-size: 9px;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info {
        width: 35%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        color: white;
        display: flex;
        flex-direction: column;

        @media (max-width: 480px) {
            left: 25px;
            bottom: 75px;
        }

        img {
            width: 400px;
            @media (max-width: 480px) {
                width: 300px;
            }
        }

        .desc {
            margin: 20px 0px;
            width: 250px;
        }

        .buttons {
            display: flex;
            z-index: 1;

            button {
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 500;
                margin-right: 10px;
                cursor: pointer;

                &.play {
                    background-color: white;
                    color: black;
                }

                &.more {
                    background-color: gray;
                    color: white;
                }

                span {
                    margin-left: 5px;
                }
            }
        }
    }
}
